---
AccessModifierOffset: -2
AlignAfterOpenBracket: DontAlign
AlignArrayOfStructures: None
AlignConsecutiveAssignments: None
AlignConsecutiveBitFields: None
AlignConsecutiveDeclarations: None
AlignConsecutiveMacros: None
AlignConsecutiveShortCaseStatements:
  Enabled: false
AlignConsecutiveTableGenBreakingDAGArgColons: None
AlignConsecutiveTableGenCondOperatorColons: None
AlignConsecutiveTableGenDefinitionColons: None
AlignEscapedNewlines: DontAlign
AlignOperands: DontAlign
AlignTrailingComments:
  Kind: Never
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowBreakBeforeNoexceptSpecifier: Always # Always/Never
AllowShortBlocksOnASingleLine: Always # Never/Always
AllowShortCaseExpressionOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true # false/true
AllowShortCompoundRequirementOnASingleLine: true
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All # Empty/All
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLambdasOnASingleLine: All # Empty/All
AllowShortLoopsOnASingleLine: true
AllowShortNamespacesOnASingleLine: true # false/true
AlwaysBreakBeforeMultilineStrings: false
AttributeMacros: []
BinPackArguments: true
BinPackLongBracedList: true
BinPackParameters: BinPack
BitFieldColonSpacing: None # Both/None
BracedInitializerIndentWidth: 0 # 2/0
BreakAdjacentStringLiterals: false
BreakAfterAttributes: Never
# BreakAfterOpenBracketBracedList: true
# BreakAfterOpenBracketFunction: true
# BreakAfterOpenBracketIf: true
# BreakAfterOpenBracketLoop: true
# BreakAfterOpenBracketSwitch: true
BreakAfterReturnType: ExceptShortType
BreakArrays: false
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Attach
# BreakBeforeCloseBracketBracedList: true
# BreakBeforeCloseBracketFunction: true
# BreakBeforeCloseBracketIf: true
# BreakBeforeCloseBracketLoop: true
# BreakBeforeCloseBracketSwitch: true
BreakBeforeConceptDeclarations: Never
BreakBeforeInlineASMColon: OnlyMultiline
BreakBeforeTemplateCloser: true
BreakBeforeTernaryOperators: true
BreakBinaryOperations: Never
BreakConstructorInitializers: BeforeColon
BreakFunctionDefinitionParameters: false
BreakInheritanceList: BeforeColon
BreakStringLiterals: false
BreakTemplateDeclarations: No
ColumnLimit: 100000 # 80/100000
CompactNamespaces: true # false/true
ConstructorInitializerIndentWidth: 0 # 2/0
ContinuationIndentWidth: 0 # 2/0
Cpp11BracedListStyle: true
DerivePointerAlignment: false
DisableFormat: false
EmptyLineAfterAccessModifier: Never
EmptyLineBeforeAccessModifier: Never
EnumTrailingComma: Leave
FixNamespaceComments: false
ForEachMacros: [rep]
IfMacros: []
IncludeBlocks: Merge
IndentAccessModifiers: false
IndentCaseBlocks: false
IndentCaseLabels: false
IndentExportBlock: false
IndentExternBlock: NoIndent
IndentGotoLabels: false
IndentPPDirectives: None
IndentRequiresClause: false # true/false
IndentWidth: 2 # 4/0
IndentWrappedFunctionNames: false
InsertBraces: false
InsertNewlineAtEOF: true
InsertTrailingCommas: None
IntegerLiteralSeparator:
  Binary: -1 # 8/-1
  Decimal: -1 # 4/-1
  Hex: -1 # 4/-1
KeepEmptyLines:
  AtEndOfFile: true
  AtStartOfBlock: false
  AtStartOfFile: true
KeepFormFeed: true
LambdaBodyIndentation: Signature
LineEnding: LF
MacrosSkippedByRemoveParentheses: []
MainIncludeChar: Quote
MaxEmptyLinesToKeep: 0 # 1/0
NamespaceIndentation: None
# NumericLiteralCase:
#   ExponentLetter: Lower
#   HexDigit: Lower
#   Prefix: Lower
#   Suffix: Lower
PackConstructorInitializers: NextLine
PointerAlignment: Left
QualifierAlignment: Leave
ReferenceAlignment: Left
ReflowComments: Never
RemoveBracesLLVM: false
RemoveEmptyLinesInUnwrappedLines: true
RemoveParentheses: Leave
RemoveSemicolon: false
RequiresClausePosition: SingleLine # OwnLineWithBrace/SingleLine
RequiresExpressionIndentation: OuterScope
SeparateDefinitionBlocks: Never # Leave/Never
ShortNamespaceLines: 1
SortIncludes:
  Enabled: true
  IgnoreCase: false
SortUsingDeclarations: LexicographicNumeric
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceAfterOperatorKeyword: false
SpaceAfterTemplateKeyword: false
SpaceAroundPointerQualifiers: Default
SpaceBeforeAssignmentOperators: true # true/false
SpaceBeforeCaseColon: false
SpaceBeforeCpp11BracedList: false
SpaceBeforeCtorInitializerColon: true # true/false
SpaceBeforeInheritanceColon: true # true/false
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: false
  AfterForeachMacros: false
  AfterFunctionDeclarationName: false
  AfterFunctionDefinitionName: false
  AfterIfMacros: false
  AfterNot: false
  AfterOverloadedOperator: false
  AfterPlacementOperator: false
  AfterRequiresInClause: true # true/false
  AfterRequiresInExpression: false
  BeforeNonEmptyParentheses: false
SpaceBeforeRangeBasedForLoopColon: true # true/false
SpaceBeforeSquareBrackets: false
# SpaceInEmptyBraces: Never
SpacesBeforeTrailingComments: 1 # 1/0
SpacesInAngles: Never
SpacesInContainerLiterals: false
SpacesInLineCommentPrefix:
  Minimum: 1
  Maximum: 1
SpacesInParens: Never
SpacesInSquareBrackets: false
Standard: Latest
StatementAttributeLikeMacros: []
StatementMacros: []
TabWidth: 4
TemplateNames: []
TypeNames: []
TypenameMacros: []
UseTab: Never
VariableTemplates: []
WhitespaceSensitiveMacros: []
WrapNamespaceBodyWithEmptyLines: Never